html {
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: monospace;
}

.container{
    display: flex;
    flex-direction: row;
}
.Essentiels{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.Media{
    display: flex;
    flex-direction: column;
}

.Tableaux{
    display: flex;
    flex-direction: column;
}

.Tous{
    display: flex;
    flex-direction: column;
}

.leftpart{
    margin: 0px;
    width: 25%;
    text-align: center;
    border: 1px solid;
    overflow-y: scroll;
    height: 100%;
}

a{
    color:  black;
    text-decoration: none;
}

.menutitle {
    text-decoration: underline;
}


.rightpart{
    height: 100%;
    margin-left: 10%;
    overflow-y: auto;
    padding-right: 2%;
    margin-bottom: 2%;
}

.defbalise{
    margin: 0;
    padding-top: 100px;
}

.Attributs{
    margin: 30px 0px ;
}

.balise{
    margin: 100px 0px 30px 0px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 0.8px solid;
    border-color: rgb(205, 205, 205);
}

tr{
    height: 30px;
}

th{
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
}

.row1{
    background-color: rgb(234, 234, 234);
}

.Exemple{
    margin: 30px 0px;
}
